{% extends 'main.html' %}

{% block content %}
    <div class="container">
    <form method="post">
        {% csrf_token %}
    </form>
    <h2>{{note}} Test</h2>
    {% for record, incorrect_answer in incorrect_answers.items %}
        <label>{{record.key}}</label>
        <select>
          {% for value in incorrect_answer %}
            {% if value.value == record.value %}
            <option>{{value.value}}</option>
            {% endif %}
          <option>{{value.value}}</option><br>
          {% endfor %}
        </select>
    <br>
    {% endfor %}
    </div>


{% endblock content %}