{% extends 'main.html' %}

{% block content %}
  <div>
           <h2> {{ topic.title }} </h2>
        </div>
        <div>
            <h3>{{ note.title }}</h3>
        </div>

        <div class="container">
            {% if note %}
                {% for record in records %}

         <div class='element row' id='div_1'>
             <h2 class="col" type='text' placeholder='Enter key' id='key_1' name='key'>{{ record.value }}</h2>
             <h2 class="col-7" type='text' placeholder='Enter value' id='value_1' name="value">&nbsp;{{ record.key }}</h2>
         </div>
                {% endfor %}
            {% endif %}

        </div>

        <div>
        <h5 name="summary" id="summary" placeholder="Summary">{{ note.summary }}</h5>
        </div>
        <div>
        <br>

            <div class="row note">
            <div class="col">
            </div>


        </div>


        </div>
{% endblock content %}