{% extends 'main.html' %}

{% block content %}
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{{request.GET.next}}"><i class="im im-angle-left"></i></a>
            <br>
            {% if page == 'update' %}
            <h2>Update existing topic</h2>
            {% else %}
            <h2>Create new topic</h2>
            {% endif %}


            <form class="form" method="POST" action="">
                {% csrf_token %}

                {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text"> {{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock content %}